<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="card mb-3">
    <div class="card-header">
      <h3><i class="fa fa-table"></i> Individual column searching (text inputs)</h3>
      The searching functionality that is provided by DataTables is very useful for quickly search through the
      information in the table - however the search is global, and you may wish to present controls to search on
      specific columns only. <a target="_blank" href="https://datatables.net/examples/api/multi_filter.html">(more
        details)</a>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table id="example4" class="table table-bordered table-hover display">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.name }}</td>
              <td>{{ task.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div><!-- end card-->
</div>
